@import "tailwindcss";

body {
  background-color: rgb(17 24 39);
  color: rgb(229 231 235);
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(31 41 55);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(75 85 99);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(107 114 128);
}
